%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Actions
  - @blog_series.each do |series|
    %tr{id: "blog_series_#{series.id}"}
      %td= link_to series.name, site_blog_tagged_url(series.blog, series.name, subdomain: 'www')
= will_paginate
