@import "compass/css3/opacity"


#background-image
  position: fixed
  width: 100%
  +opacity(.1)

.container
  position: relative
  z-index: -2

.ui-collapsible-content, .ui-footer
  background: transparent

li.ui-btn-up-c, li.ui-btn-down-c, li.ui-btn-hover-c:hover
  background: transparent
