header.ui-header
  h1.brand
    font-family: ambroise-std, skolar
    font-weight: lighter
    font-size: 2.5em
    margin: 5px 10px

  .ui-btn
    top: 16px

  .ui-btn-left
    left: 10px

  .ui-btn-right
    right: 10px
