.sports-event-info
  .teams
    img.logo
      height: 90px
      width: 90px
      display: inline-block

    .separator
      font-size: 3em
      padding: 0px 20px
      vertical-align: 30px

  .game-stats
    text-align: right
    float: right
    display: none
    .label
      font-size: 2em
    .value
      font-size: 1.3em

  .event-info
    padding: 20px 0px

    .label
      font-weight: bold
      padding-right: .5em
