.article-list
  %h2.vertical-label= title
  .rounded
    .content-container
      - articles.each do |article, comments|
        %a.list-story.hover.highlight-right{href: site_post_path(article)}
          %h3.title= article.title
          %p.subtitle
            %span.comments #{comments} Comments
            = display_date(article, nil, notime: true)
