.article-list
  %h2.vertical-label= title
  .rounded
    - if image
      .image-container
        %a{href: image[:href]}
          = image_tag image[:src], class: :banner
    .content-container
      - items.each do |item|
        %a.list-story.hover.highlight-right{href: item.link}
          %h3.title= item.title
