.story-list{class: ('breaking' if breaking)}
  .rounded
    .content-container
      %a.list-story.hover{href: site_article_path(article)}
        %h3.title
          = article.title
          - if breaking
            %span.breaking-label Breaking
        %p.teaser= article.teaser
