%h3
	=link_to("<", url_last_day)
	="Daily Events for " +  @day_str
	=link_to(">", url_next_day)
	.month-link=link_to('Return to month view', url_back_to_month)
-@daily_events.each do |event|
	%li.list-style
		%b= event.title
		=" at " + get_time(event)
		%p= event.content

-if @daily_events.count == 0
	%p There are currently no events.