- provide :title, "#{@tournament.full_name} Challenge"

.clearfix
  .span-8
    .rounded
      .article-container
        .article-body!= @tournament.challenge_text

  .span-4.last
    = render 'site/partials/advertisement', zone: :medium_rectangle
    - if @tournament.started?
      = render 'site/containers/tournament-leaderboard', tournament: @tournament
