.featured-selectable.clearfix
  .block.block-featured
    .rounded.slides
      - posts.each_with_index do |post, index|
        %a.slide.hover.highlight-bottom{href: site_post_path(post), style: ('display:none;' if index > 0)}
          .image-container
            = cropped_image_tag post.image, :rectangle_636x
          .content-container
            %h3.title= post.title
            %p.teaser= post.teaser
  .thumbnails
    - posts[0...4].each_with_index do |post, index|
      .rounded.selector
        %a.hover.highlight-bottom{href: site_post_path(post), data: {index: index}}
          .image-container
            = cropped_image_tag post.image, :rectangle_152x
