%pre
  =preserve do
    :escaped
       H  R   O    A        
      C        N  F     I    
                    '.  L      
        .-""-._     \ \.--|  
       /       "-..__) .-'   
      |     _         /      
      \'-.__,   .__.,'       
       `'----'._\--'      
      VVVVVVVVVVVVVVVVVVVVV
