- banner ||= false

= cropped_image_tag image, (banner ? :banner_606x : :rectangle_606x), class: 'main-image'
.clearfix
  .photo-credit
    %span= photo_credit(image, link: true)
  - if not image.caption.blank?
    %p.photo-caption= image.caption
