.clearfix.align-group
  .span-8.photo-gal
    .rounded.featured.gal
      .title-area.main-title
        %h2#title= @model.slideshow.first.name
      .gallery.main
        - @model.slideshow.map{ |gallery| gallery.images.first }.each do |image|
          %img{:src => image.url, :data => {:link => site_gallery_path(image.gallery), :title => image.gallery.name}}
    .gal-col.span-4
      - @model.news.each do |gallery|
        .rounded.clearfix.gal-col
          .small-gallery
            = render partial: 'beta/partials/small-photoshelter-slideshow', locals: {gallery: gallery, width: 300}
      - puts @model.sports.inspect
    .gal-col
      - @model.sports.each do |gallery|
        .rounded.clearfix.gal-col.span-4
          .small-gallery
            = render partial: 'beta/partials/small-photoshelter-slideshow', locals: {gallery: gallery, width: 300}
  .span-4.last
    = render partial: 'beta/partials/advertisement', locals: {zone: :medium_rectangle}
    %h2.vertical-label Twitter
    .rounded
      %a.twitter-timeline{height: "1050px", 'data-widget-id' => @model.twitter_widget}
