.rounded
  .article-container
    .article-body.clearfix
      = cropped_image_tag @model.main_image, :rectangle_606x, class: 'embedded-right'
      != @model.pitch

.clearfix
  .span-8
    - selections = @model.sections.map { |section| [section['name'], section['description']] }
    = render partial: 'beta/containers/multiplexer', locals: { title: "Information", selections: selections }

  .span-4.last
    %h2.vertical-label Sign Up
    .rounded
      .content-container!= @model.form_embed
