- if user_signed_in? and !@article.published?
  .admin-notification.showing
    .admin-notification-header
      Admin Notification
      .toggle-link
        [ Hide ]
    .admin-notification-body
      %h1 This is a sample view!
      %h2 Your article has not been published yet.
  = render partial: 'site/partials/article-show'
- elsif @article.published?
  = render partial: 'site/partials/article-show'
- else
  %h1 Sorry, this article has not been published.



