.header-taxonomy
  margin-top: $page-section-spacing
.breadcrumb-link
  font-family: $chron-font-serif
  &:after
    content: ' » '
    font-size: .8em
    vertical-align: .1em
  &:last-child:after
    content: none
article.page-content-column
  padding-bottom: 3.5em
  main
    a
      @include text-underline($anchor-font-color, 1.1em)
