header#super-header
  .header-advertisement
    padding-top: $page-section-spacing
    padding-bottom: $page-section-spacing
    background: $chron-gray-medium
    border-left: 1px solid $chron-gray-border
    border-right: 1px solid $chron-gray-border
    border-bottom: 1px solid $chron-gray-border
  .nav-main-container, .nav-main, ul.title-area
    background: $chron-blue-accent

  nav
    .nav-sections
      text-transform: uppercase
      a
        font-weight: 300

.fixed
  nav
    .sticky-hide
      display: none