header#super-header
  .header-advertisement
    padding-top: $page-section-spacing
    padding-bottom: $page-section-spacing
    background: $chron-gray-medium
    border-left: 1px solid $chron-gray-border
    border-right: 1px solid $chron-gray-border
    border-bottom: 1px solid $chron-gray-border
  ul.title-area
    li.name
      background: $chron-blue
      color: $chron-gray-light
      a:hover
        color: $chron-blue-highlight
  .contain-to-grid.sticky
    opacity: .95
  nav.top-bar
    .nav-sections
      text-transform: uppercase
      a
        font-family: $chron-font-sans-alt
        font-weight: 500

  .search-section form
    @media #{$large-up}
      width: 220px

.fixed
  nav
    .sticky-hide
      display: none
