header#super-header
  .header-advertisement
    padding-top: $page-section-spacing
    padding-bottom: $page-section-spacing
  .contain-to-grid
    background: transparent
  ul.title-area
    background: $chron-blue-accent
    h1
      a
        color: $chron-gray-light
        &:hover
          color: $chron-text-white
    &:hover
      background: $chron-blue-highlight
  nav
    height: auto
  nav.nav-main-secondary
    text-transform: uppercase
    letter-spacing: 3px
    a
      font-weight: 500