figure
  margin-bottom: 1.25rem
  img
    width: 100%
  figcaption
    background-color: $chron-text
    padding-left: 0.9375rem
    padding-right: 0.9375rem
    p
      margin-bottom: 0
      font-size: .9rem