/* Includes styles for .page-main-wrap, which is used on static pages, articles, and blog posts */
.page-header
  .header-title
    border-top: 1px solid $chron-gray-light
    border-bottom: 1px solid $chron-gray-light
    padding-top: 20px
    padding-bottom: 20px
    margin: 10px 0 7px
    h1, p.subtitle
      font-family: "adobe-garamond-pro",sans-serif
      line-height: 1.1
    p.subtitle
      font-size: 1.3rem
      margin-bottom: 8px
  .header-section, .header-byline
    color: $chron-gray-dark
    font-size: 14px

.page-header, .page-feature, .page-main
  padding-top: 1rem

.page-sidebar
  background-color: $chron-blue
  .sidebar-widget
    border-bottom: 1px solid $chron-gray-dark
    padding: .5rem .2rem