/* Chronicle Color Pallate */
$chron-blue: #031a32
$chron-blue-accent: #083e8c
$chron-blue-highlight: #0065cb

$chron-gray-dark: #656565
$chron-gray-border: #ccc
$chron-gray-medium: #eaeaea
$chron-gray-light: #f6f5f2

$chron-text-white: white
$chron-almost-white: $chron-gray-light
$chron-text: #252525 /* a.k.a. really dark gray*/

$chron-font-serif: "adobe-text-pro", "times", serif
$chron-font-sans: "franklin-gothic-urw", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default

/* Foundation SCSS Variables */
$primary-color: $chron-blue-accent

/* Page Size */
$row-width: rem-calc(1200)

/*Header Fonts*/
$header-font-family: $chron-font-serif
/*$header-font-weight: bold */
/*$header-font-style: normal */
$header-font-color: $chron-text
$header-line-height: 1
$header-top-margin: .5rem
$header-bottom-margin: .5rem
/*$header-text-rendering: optimizeLegibility*/

/*Body Fonts*/
$base-font-size: 100% !default
$base-line-height: 150% !default
$rem-base: 16px !default
$body-bg: $chron-gray-light
$body-font-color: $chron-text !default
$body-font-family: $chron-font-sans

/*Anchors*/
$anchor-text-decoration: none
$anchor-font-color: $primary-color
$anchor-font-color-hover: $chron-blue-highlight

/*Topbar (header)*/
$topbar-bg: $chron-blue
$topbar-dropdown-bg: $chron-blue
$topbar-title-font-size: 2.5rem
$topbar-link-color: $chron-gray-light
$topbar-link-color-hover: $chron-blue-highlight
$topbar-link-color-active: $chron-blue-highlight
$topbar-link-color-active-hover: $chron-blue-highlight
$topbar-link-font-size: .9rem
$topbar-link-bg-hover: $chron-blue
$topbar-link-bg-active: $chron-gray-light
$topbar-link-bg-active-hover: $chron-gray-light

/* Orbit */
/*$orbit-container-bg: #f5f5f5*/
$orbit-caption-bg: rgba(8,62,140,0.6)
$orbit-caption-font-color: $chron-gray-light
/*$orbit-caption-font-size: emCalc(14);*/
/*$orbit-caption-position: "bottom"*/
/*$orbit-caption-padding: emCalc(10,14);*/
/*$orbit-caption-height: auto;*/

/*Section spacing*/
$page-section-spacing: 0.9375rem