/* Chronicle Color Pallate */
$chron-blue: #031a32
$chron-blue-accent: #083e8c
$chron-gray-dark: #cbcbcb
$chron-gray-light: #f2f2f2
$chron-text: #434343

/* Foundation SCSS Variables */
// Topbar (header)
$topbar-bg: $chron-blue
$topbar-title-font-size: 2em
$topbar-link-weight: bold
$topbar-link-bg-hover: $chron-blue-accent
$topbar-link-bg-active: $chron-blue-accent
$topbar-link-bg-active-hover: scale-color($chron-blue-accent, $lightness: -14%)