.span-8
  .rounded
    .topic-container
      =button_to "Back", site_opinion_path, method: :get
      %h2='Discussion Topics'

      %table.table.table-striped
        %thead
          %tr
            %th Topic
            %th Description
            %th Created Date
        - @active_topics.each do |topic|
          %tr{id: "topic_#{topic.id}"}
            %td= link_to topic.title, admin_topic_path(topic)
            %td= topic.description
            %td= datetime_tag(topic.created_at,"mm/dd/yyyy")