- provide :title, @tournament.full_name

.rounded
  .bracket-container
    = render 'beta/partials/flash', flash: flash
    %p.challenge-text
      - if @tournament.started?
        Click
        = link_to "here", leaderboard_site_tournament_path(@tournament)
        to see the Chronicle bracket challenge leaderboard.
      - else
        Click
        = link_to "here", challenge_site_tournament_path(@tournament)
        to read more about the Chronicle bracket challenge.
    #bracket.tournament{data: {tournament: tournament_json(@tournament), 'user-bracket' => @bracket.try(:id)}}
