// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 12;
$blueprint-grid-width: 54px;
$blueprint-grid-margin: 30px;

$background-top-color: #E6E6E8;
$background-bottom-color: #F5F6F7;
$link-color: #36C;
