%header{data: {role: "header", theme: "a", 'add-back-btn' => "true"}}
  %h1.brand The Chronicle
  %a.ui-btn-right#seach-button{href: "#search", data: {role: "button", rel: "dialog", icon: "search", iconpos: "notext", theme: "b"}} Search

- if content_for? :title_block
  %nav{data: {role: "header", theme: "c"}}
    %a{data: {role: "button", rel: "back", icon: "back", iconpos: "notext"}} Back
    = yield :title_block
