#search-dialog{data: {role: "dialog"}}
  %div{data: {role: "header"}}
    %h1 Search
  %section{data: {role: "content"}}
    = form_for(Search.new, url: site_search_path, method: :get, html: {id: 'search-box'}) do |f|
      = f.search_field :query, placeholder: 'Search archives', results: '5'
