---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/authenticate?email=<EMAIL>&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[]}'
  recorded_at: Mon, 03 Mar 2014 06:23:03 GMT
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/authenticate?email=<EMAIL>&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[]}'
  recorded_at: Mon, 03 Mar 2014 06:23:04 GMT
recorded_with: VCR 2.5.0
