---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/authenticate?email=<EMAIL>&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":{"code":400,"class":"AuthInvalidLoginErr","message":"We
        couldn''t find a user account with that email address."},"usage":{"desc":"Authentication
        has two modes available, cookie based and token based authentication.\n\t\t\tIn
        the default cookie based mode, authenticate returns an HTTP cookie that is
        required by all other member endpoints. This cookie is of a proprietary format
        and should be sent as is. Endpoints will return an updated HTTP cookie so
        that accurate idle time can be tracked.\n\t\t\tThe token based mode returns
        an authentication token. The other member endpoints accept the token. either
        as a parameter or header value, to allow access. \n\t\t\tCalls to the authentication
        module must be made via an HTTPS connection.","input":{"email":{"desc":"email
        address","required":"yes"},"password":{"desc":"password","required":"yes"},"mode":{"desc":"authentication
        mode, ''cookie'' or ''token'' (default: cookie)","required":"no"}},"output":{"0":{"name":"token","desc":"authentication
        token, if requested"},"org":[{"name":"id","desc":"organization ID"},{"name":"name","desc":"organization
        name"},{"name":"member","desc":"user is member of organization"}]}},"data":null}'
  recorded_at: Mon, 03 Mar 2014 06:19:20 GMT
recorded_with: VCR 2.5.0
