---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v1/authenticate?email=<EMAIL>&format=json&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"error","error":{"code":400,"class":"AuthInvalidLoginErr","message":"We
        couldn''t find a user account with that email address."},"usage":{"desc":"Returns
        an HTTP cookie that is required by all the other modules. This cookie is of
        a proprietary format and should be sent as is. Modules will return an updated
        HTTP cookie so that accurate idle time can be tracked. Calls to the authentication
        module must be made via an HTTPS connection.","input":{"email":{"desc":"email
        address","required":"yes"},"password":{"desc":"password","required":"yes"}},"output":{"uploader":[{"name":"version","desc":"uploader
        version"},{"name":"download","desc":"uploader URL"}],"org":[{"name":"id","desc":"organization
        ID"},{"name":"name","desc":"organization name"},{"name":"member","desc":"user
        is member of organization"}]}},"data":null}'
  recorded_at: Mon, 03 Mar 2014 04:33:14 GMT
recorded_with: VCR 2.5.0
