---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v1/authenticate?email=<EMAIL>&format=json&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"uploader":{"version":"2.5.0","download":"https:\/\/support.photoshelter.com\/entries\/21620826-PhotoShelter-Desktop-Uploader"}}}'
  recorded_at: Mon, 03 Mar 2014 04:01:56 GMT
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v1/gallery/query?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"gallery":[{"id":"G0000VX2MP0L6_kY","name":"2014\/02\/25
        MBB vs. VT","f_list":"t"},{"id":"G00003rWLIb8HrAk","name":"14\/02\/24 LNY","f_list":"t"},{"id":"G0000m79Vgeh6Ua4","name":"2014\/02\/24","f_list":"t"},{"id":"G0000Jw402BVYPo8","name":"2014\/02\/22
        Syracuse Cameron Crazies","f_list":"t"},{"id":"G0000hp_bFU93rVc","name":"2014\/02\/22
        MBB vs. Syracuse","f_list":"t"},{"id":"G0000yORseJngftw","name":"2014\/02\/22
        SyracuseLineUp","f_list":"t"},{"id":"G0000z2zwtiIFmrE","name":"2014\/02\/21
        Lunar New Year","f_list":"t"},{"id":"G0000HGJYQyIXDhU[...]
