---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/authenticate?email=<EMAIL>&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[]}'
  recorded_at: Mon, 03 Mar 2014 06:23:06 GMT
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/gallery/G0000W3g4oBchl8c/images?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"total":26,"images":[{"id":"I0000P1V4eGUln18"},{"id":"I0000e2xvnDVizp0"},{"id":"I0000P_ZcT9rmQrk"},{"id":"I0000WVWlSrBNUp8"},{"id":"I0000ZEG2_TaSEBw"},{"id":"I0000PIwFGxv58q4"},{"id":"I0000ysHhFpf3yfE"},{"id":"I0000pTrrNQzkBSo"},{"id":"I0000q4kZKIDavYI"},{"id":"I00001JM9eft0GyA"},{"id":"I0000BvYq4a0ZWWY"},{"id":"I00007DzK8Pd1BVU"},{"id":"I0000YXq5ZIT32lI"},{"id":"I0000fIKAyNvR.xM"},{"id":"I0000dT9n5bEwIiE"},{"id":"I0000Ywqg9p9QlJk"},{"id":"I0000Hi58t2RMfNI"},{"id":"I0000IRQjvyq3j7k"},{"id":"I0000qJ4EIYHjt14"},{"id":"I000053tCBeNYmZg"},{"id":"I0000QMXAvtBII7o"},{"id":"I0000kMv9lWxjqr4"},{"id":"I0000tLk.qFi_Xcw"},{"id":"I0000WfCiiKUxRww"},{"id":"I0000qUPUjIkm7bs"},{"id":"I0000.0_w_lR1n34"}],"paging":{"page":1,"pages":1,"first":"https:\/\/www.photoshelter.com\/psapi\/v2\/gallery\/G0000W3g4oBchl8c\/images?","last":"https:\/\/www.photoshelter.com\/psapi\/v2\/gallery\/G0000W3g4oBchl8c\/images?"}}}'
  recorded_at: Mon, 03 Mar 2014 06:23:06 GMT
recorded_with: VCR 2.5.0
