---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/authenticate?email=<EMAIL>&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[]}'
  recorded_at: Mon, 03 Mar 2014 06:23:07 GMT
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/image/I0000P1V4eGUln18/iptc?
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"title":null,"edit_status":null,"urgency":null,"category":null,"keyword":null,"instructions":null,"author":"Brianna
        Siracuse\/The Chronicle","position":null,"city":null,"state":null,"country":null,"country_iso":null,"headline":null,"trans_ref":null,"credit":null,"source":null,"copyright":null,"caption":"Duke''s
        football team won their season opener 46-26 last night against Florida International
        University at Wallace Wade Stadium. The Blue Devils had a huge second quarter
        during which they outscored the Panthers 30-7.","caption_writer":null,"filename":null,"ci_city":null,"ci_country":null,"ci_address":null,"ci_postal_code":null,"ci_region":null,"ci_email":null,"ci_phone":null,"ci_url":null,"genre":null,"location":null,"rights":null,"scene":null,"subject_code":null,"web_statement":null,"publish_date":null,"sdate":"2012-09-01
        06:02:50 GMT"}}'
  recorded_at: Mon, 03 Mar 2014 06:23:07 GMT
recorded_with: VCR 2.5.0
