---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v1/authenticate?email=<EMAIL>&format=json&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"uploader":{"version":"2.5.0","download":"https:\/\/support.photoshelter.com\/entries\/21620826-PhotoShelter-Desktop-Uploader"}}}'
  recorded_at: Mon, 03 Mar 2014 04:23:32 GMT
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v1/authenticate/logout?format=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":null}'
  recorded_at: Mon, 03 Mar 2014 04:23:32 GMT
recorded_with: VCR 2.5.0
