---
http_interactions:
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/mem/authenticate?email=<EMAIL>&password=<PASSWORD>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Tcn:
      - choice
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":[]}'
  recorded_at: Mon, 03 Mar 2014 06:31:19 GMT
- request:
    method: get
    uri: https://www.photoshelter.com/psapi/v2/gallery/recently_updated?user_id=<USER>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Ps-Api-Key:
      - "<API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"ok","data":{"galleries":[{"id":"G0000RzVepoFGwo0","name":"2014\/02\/15
        MBB vs. Maryland","f_list":"t"},{"id":"G0000VX2MP0L6_kY","name":"2014\/02\/25
        MBB vs. VT","f_list":"t"},{"id":"G0000yORseJngftw","name":"2014\/02\/22 SyracuseLineUp","f_list":"t"},{"id":"G0000hp_bFU93rVc","name":"2014\/02\/22
        MBB vs. Syracuse","f_list":"t"},{"id":"G0000Jw402BVYPo8","name":"2014\/02\/22
        Syracuse Cameron Crazies","f_list":"t"},{"id":"G0000lOLeHdXc1No","name":"2014\/02\/18
        MBB vs. Georgia Tech","f_list":"t"},{"id":"G0000HGJYQyIXDhU","name":"2014\/02\/20
        Class of 2014 Dinner","f_list":"t"},{"id":"G0000z2zwtiIFmrE","name":"2014\/02\/21
        Lunar New Year","f_list":"t"},{"id":"G0000Fmb7xql7d_8","name":"2014\/02\/20
        MBB vs. UNC","f_list":"t"},{"id":"G00001aALNGQgZ.o","name":"2014\/02\/04 MBB
        vs. Wake Forest","f_list":"t"}]}}'
  recorded_at: Mon, 03 Mar 2014 06:31:20 GMT
recorded_with: VCR 2.5.0
