production:
  solr:
    <% if Rails.env.production? %>
      hostname: <%= Settings.solr.hostname %>
      path: <%= Settings.solr.path %>
      port: <%= Settings.solr.port %>
    <% end %>
    log_level: WARNING

development:
  solr:
    hostname: localhost
    port: 8982
    log_level: INFO

test:
  solr:
    hostname: localhost
    port: 8981
    log_level: WARNING
