.block.block-square
  .rounded
    %a.hover.highlight-right{href: site_post_path(article)}
      - if article.image
        .image-container
          = cropped_image_tag article.image, :square_150x
      .content-container
        %h4.title= article.title
        %p.teaser= article.teaser
