- title ||= nil
- unless defined? show_image
  - show_image = true

.block.block-wide
  %h2.vertical-label= title
  .rounded
    %a.hover.highlight-bottom{href: site_post_path(article)}
      - if article.image and show_image
        .image-container
          = cropped_image_tag article.image, :banner_216x
      .content-container
        %h3.title= article.title
        %p.teaser= article.teaser
