- provide :title, 'Page Not Found'
  
- content_for :title_bock do
  %h1 'Page Not Found'
.span-12
  .rounded
    Sorry, this page doesn't exist. Please click 
    %a{href: @back} here
    to go back to our homepage.
    %pre{style: 'font-size: 15px; text-align:center;'} 
      =preserve do
        :escaped
           H  R   O    A        
          C        N  F     I    
                        '.  L      
            .-""-._     \ \.--|  
           /       "-..__) .-'   
          |     _         /      
          \'-.__,   .__.,'       
           `'----'._\--'      
          VVVVVVVVVVVVVVVVVVVVV
