%meta{property: "og:title", content: article.title}
%meta{property: "og:type", content: "article"}
- if article.image
  %meta{property: "og:image", content: 'http:' + article.image.original.url}
- else
  %meta{property: "og:image", content: 'http:' + image_path("logo/300x300.png")}
%meta{property: "og:url", content: permanent_article_url(article)}
%meta{property: "og:site_name", content: "The Duke Chronicle"}
%meta{property: "og:description", content: article.teaser}
%meta{property: "article:published_time", content: article.published_at.iso8601}
%meta{property: "article:modified_time", content: article.updated_at.iso8601}
- unless article.section.root?
  %meta{property: "article:section", content: article.section[0]}
- article.authors.each do |author|
  %meta{property: "article:author", content: site_staff_url(author, subdomain: 'www')}
