- provide :title, @blog_post.title

- content_for :title_block do
  %h1= link_to @blog.name, site_blog_posts_path(@blog)

- content_for :head do
  %link{rel: "canonical", href: site_blog_post_url(@blog, @blog_post, subdomain: :www)}


.span-8
  = render partial: 'site/blog_posts/blog', locals: {blog_post: @blog_post}
  #disqus_thread.rounded{data: {disqus: disqus_options(@blog_post)}}

%aside.span-4.last
  = render partial: 'site/partials/advertisement', locals: {zone: :medium_rectangle}
