- provide :title, @poll.title
- provide :description, @poll.description

.span-8
  .rounded
    .content-container
      %h1= @poll.title
      %h2= @poll.description
      - if @voted
        = render 'poll_results'
      - else
        = render 'poll_form'
