.article-list
  article
    border-right: 7px solid transparent
    &:hover
      border-right: 7px solid $chron-blue-accent
    padding-top: $page-section-spacing
    header
      h1
        color: $chron-gray-dark
        font-size: 1rem
        line-height: 1.1rem
      .header-byline
        color: $chron-gray-light
        font-size: .8rem
