- provide :title, @staff.name

- content_for :title_block do
  %h1= @staff.name

.span-12
  #images-container
    .item= render partial: 'site/containers/staff-profile', locals: {staff: @staff}

    - styles = [:thumb_rect, :large_rect, :thumb_rect, :thumb_rect, :thumb_rect, :large_rect, :thumb_rect]
    - @staff.images.each do |image|
      .item
        .rounded
          .image-container
            %a{href: image.original.url}
              - style = styles.sample
              = image_tag image.original.url(styles.first), class: styles.first
      - styles.rotate!
