- provide :title, "Create an #{@tournament.full_name} Bracket"

.rounded
  .bracket-container
    = form_for [:site, @tournament, @bracket] do |f|
      = f.hidden_field :picks
      = f.submit "Done", class: "done button button-flat-action button-large"
    #bracket.bracket{data: {bracket: @bracket.to_json, games: @games}}
