- provide :title, "#{@bracket.user.name}'s #{@tournament.full_name} Bracket"

.rounded
  .bracket-container
    = render 'site/partials/flash', flash: flash
    - unless @forbidden
      #bracket.bracket{data: {bracket: @bracket.to_json(include: :tournament, properties: { editable: ->(bracket) { current_user == bracket.user }}), games: @games}}
