- Taxonomy.top_level(:sections).each do |section|
  - if @model.send(section.name.downcase).present?
    %a{href: site_article_section_url(section: section.to_s[1...-1], subdomain: 'www')}
      %h2= section.name
    - @model.send(section.name.downcase).each do |article|
      %h3
        %a{href: site_post_url(article, subdomain: 'www')}=article.title
      .article
        - if article.image
          %a{href: site_post_url(article, subdomain: 'www')}
            %img{align: :left, src: 'https:' + article.image.original.url(:rectangle_152x), width: 152, height: 94, alt: "Chronicle Image", style: 'margin-right:10px;margin-bottom:10px;'}
        %p= article.teaser
        %br{style: 'clear:both;'}
    %br
    %br
