#facebook-social-share
  .activities
  %a.share-button{href:"#"}
    Share what you're reading on Facebook.
  %a.activity-button{href:"#"}
    = image_tag "icons/social-activity-icon.png", class: 'activity-icon'