#facebook-social-share
  .activities
  %a.share-button{href:"#"}
    Sharing is 
    %u.status on
  %a.activity-button{href:"#"}
    = image_tag "icons/social-activity-icon.png", class: 'activity-icon'