.nav-container
  %nav.subnav
    - if (blog = Blog.find_by_taxonomy_parent(@taxonomy))
      %a.hover{href: site_blog_posts_path(blog)}
        %h2= blog.name
    - @taxonomy.children.each do |subsection|
      %a.hover{href: section_path(subsection)}
        %h2= subsection.name
%h1
  - @taxonomy.parents.each_with_index do |parent, i|
    - if i > 0
      &raquo;
    = link_to parent.name, section_path(parent)
