%script{type: 'text/javascript', src: 'http://ox-d.oncampusweb.com/w/1.0/jstag'}
:javascript
  var OX_units = {
    'custom': 536871737,
    'leaderboard': 536871739,
    'medium_rectangle': 536871740,
    'medium_rectangle_1': 536871740,
    'medium_rectangle_2': 536871740,
  };
  var OX_9a3d33b961 = OX();
  OX_9a3d33b961.addPage("536870985");
  OX_9a3d33b961.fetchAds();
