:javascript
  var OA_zones = {
    'custom': 1087,
    'leaderboard' : 914,
    'medium_rectangle' : 316,
    'medium_rectangle_1' : 316,
    'medium_rectangle_2' : 316,
  }
%script{type: 'text/javascript', src: '//www.oncampusweb.com/delivery/spcjs.php?id=73&amp;block=1'}
