.rounded
  %a.hover{href: site_article_path(article)}
    .content-container
      %h3= article.title
      = render partial: 'site/articles/subtitle', locals: {article: article}
      %p= article.teaser
