- Taxonomy.main_sections.each do |section|
  - if model.has_key? section.name.downcase
    %h2= section.name
    - model[section.name.downcase].each do |article|
      %a{href: site_article_url(article, subdomain: 'www', host: Settings.domain)}
        %h3= article.title
      .article
        - if article.image
          %a{href: site_article_url(article, subdomain: 'www', host: Settings.domain)}
            %img{align: :left, src: article.image.original.url(:thumb_rect), width: 124, height: 89, alt: "Chronicle Image", style: 'margin-right:10px;'}
        %p= article.teaser
        %br{style: 'clear:both;'}
    %br
    %br
