- Taxonomy.main_sections.each do |section|
  - if model.send(section.name.downcase).present?
    %h2= section.name
    - model.send(section.name.downcase).each do |article|
      %a{href: site_article_url(article, subdomain: 'www', host: ENV['DOMAIN'])}
        %h3= article.title
      .article
        - if article.image
          %a{href: site_article_url(article, subdomain: 'www', host: ENV['DOMAIN'])}
            %img{align: :left, src: 'https:' + article.image.original.url(:rectangle_152x), width: 152, height: 94, alt: "Chronicle Image", style: 'margin-right:10px;'}
        %p= article.teaser
        %br{style: 'clear:both;'}
    %br
    %br
