.block.block-thumbnail
  .rounded
    %a.hover.highlight-right{href: site_post_path(article)}
      .content-container
        %h4.title= article.title
        - if article.image
          = cropped_image_tag article.image, :square_70x
        %p.teaser= article.teaser
