.block.block-wide
  .rounded
    %a.hover.highlight-bottom{href: site_article_path(article)}
      - if article.image
        .image-container
          = image_tag article.image.original.url(:thumb_wide)
      .content-container
        %h3.title= article.title
        %p.teaser= article.teaser
