// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns: 12;
$blueprint-grid-width: 54px;
$blueprint-grid-margin: 30px;

$background-top-color: #E6E6E8;
$background-bottom-color: #F5F6F7;
$banner-color: #069;
$caption-color: #555;
$content-padding: 8px;
$corner-radius: 4px;
$timestamp-color: #B20000;
$dark-text: #222;
$default-box-shadow-opacity: 0.4;
$highlight-color: #4D90F0;
$image-padding: 3px;
$light-color: #EEE;
$light-text: #777;
$link-color: #36C;
$rounded-vertical-spacing: 20px;
$text-color: #444;
