.admin-panel
  position: fixed
  padding: 10px
  font-size: 1.5em
  background-color: white
  right: 0px
  +black-box-shadow($default-box-shadow-opacity, 0px, 1px, 3px)
  a
    display: block
    text-align: right
