#article
  +pie-clearfix

  #social-media
    float: right
    margin-left: 10px
    .comment-link
      background: image-url("icons/comment.png") no-repeat

    .print-link
      background: image-url("icons/print.png") no-repeat

    .email-link
      background: image-url("icons/email.png") no-repeat

    .comment-link, .print-link, .email-link
      padding: 3px 0px 3px 23px
      color: $dark-text
      background-position: 2px 5px

    .fb-like
      margin-bottom: 2px

    .twitter-share-button
      margin-bottom: -3px

.article-body
  +clearfix

.article-container
  padding: 1.2em 1.5em

  .title
    font-size: 2.4em
    line-height: 1.2em

  .subtitle
    font-size: 1.5em
    margin-top: -10px
    font-style: italic

  .main-image
    width: 100%
    +border-radius($corner-radius)

  .photo-credit
    float: right
    margin-left: 2em
    font-size: .8em
    span
      color: #777

  .photo-caption
    color: $caption-color

  .byline
    color: $caption-color

  .article-body
    font-size: 1.2em
    line-height: 1.6em
    color: $dark-text

#disqus_thread
  padding: 5px
