.embedded-image img
  display: block
  border: solid 3px #FFF
  &:hover
    border: solid 3px LightGray

.embedded-instagram
  margin: auto
  width: 400px

.embedded-twitter
  margin: auto
  width: 502px

.embedded-quote blockquote
  width: 250px
  margin: 10px
  font-size: 1.2em
  border: 0px
  font-style: italic

.embedded-right
  float: right
  margin-left: 10px

.embedded-left
  float: left
  margin-right: 10px

.embedded-full
  margin-bottom: 1.5em

.embedded-youtube
  iframe
    display: block
    margin: 0 auto
