.list-style {
	list-style: none;
	margin-bottom: 5px;
	margin-top: 5px;
	padding-top: 10px;
	border-top: solid 1px LightGray;
	height: 75px;
}

.num-events {
	margin-top: 5px;
	font-size: .8em;
	color: Gray;

}

.day-num {
	margin-left: 3px;
}

.center {
	text-align: center;
}

.no-events {
	margin-top: 5px;
	text-align: center;
}

#daily-events {
	h3 {
		text-align: center;
		margin-top: 0px;
		font-size: 1.25em;
		margin-bottom: 0px;
	}
	margin-top: 10px;
	float: left;
	width: 440px;
	padding: 5px;
	border: solid 3px LightGray;
}

.outer_calendar {
	margin-top: 10px;
	width: 510px;
	float: right;
}

.header-container {
	height: 40px;
	background-color: #3333CC;
	margin-top: 0px;
}

.month-link {
	float: right;
	font-size: .6em;
}

.month-container {
	text-align: center;
	width: 180px;
	height: 30px;
	margin-top: 5px;
	float: right;
	margin-right: 170px;
}

.title-container {
	float: left;
	margin-top: 5px;
	height: 30px;
}

.title {
	margin-top: 5px;
	text-align: center;
}


.get-left {
	float: left;
}

.month-name {
	text-align: center;
	margin-top: 5px;
}


.inner_calendar {
	background-color: white;
	border-right: solid 4px #3333CC;
	border-left: solid 4px #3333CC;
	border-bottom: solid 4px #3333CC;
}

.weekday-panel {
	margin-left: 10px;
	font-weight: bold;
	.block {
		width: 62px;
		text-align: center;
		float: left;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}

.left_inner {
	margin-left: 10px;
	width: 450px;
	float: left;
}

.link-style {
	margin-left: 3px;
	color: SteelBlue;
	&:hover {
		color: LightGray;
		text-decoration: none;
	}
}

.right_inner {
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	color: white;
	margin-bottom: 20px;
	li {
		list-style: none;
		margin-bottom: 9px;
		margin-top: 9px;
	}
}


.white {
	color: white;
	margin-left: 10px;
	margin-top: 5px;
}

.day-block {
	width: 60px;
	border-radius: 5px;
	height: 70px;
	border: solid 2px Gray;
	float:left;
	p {
		margin-bottom: 0px;
	}
}

.day-block-today {
	width: 60px;
	border: 3px solid Blue;
	height: 70px;
	float:left;
	p {
		margin-bottom: 0px;
	}
}


.invisible-day-block {
	width: 60px;
	border-radius: 5px;
	height: 70px;
	border: solid 2px Gray;
	float:left;
	background-color: LightGray;
}

.selected-day {
	border: solid 1px blue;
}