.gallery
  .galleria-container
    background: #fff
.buy-link
  float: left
  margin-left: 2em
  font-size: 0.8em
.buy-url
  visibility: hidden
.gal-img
  padding: 3px
.links
  width: 600px
#imageinfo
  clear: both
  display: block
  width: 630
