.gallery
  margin: 0 3px
  padding: 0
  clear: both
  margin-bottom: 3px
.gallery.main
  padding-bottom: 8px
  padding-top: 7px
.buy-link
  display: inline-block
  font-size: 0.8em
  vertical-align: top
.buy 
  float: right
.buy-url
  visibility: hidden
.byline.photocaption
  float: right
.gal-img
  padding: 3px
.gal-col
  width: 306px
  float: left
.links
  width: 600px
.title-area
  padding-top: 5px
  margin: -15px 3px
  background: white
  margin-top: 3px
.title-link
  margin-top: -8px
.social
  float: right
  width: 150px
.gal-share .share-box
  margin-left: 0px
  float: left
.share
  width: 130px
  display: inline-block
  margin-top: 10px
  vertical-align: top
.share.gplus
  margin-left: -35px
.small-gallery
  margin-bottom: -8px
#imageinfo
  clear: both
  width: 100%
  float: left
#title
  text-align: left
  padding: 0 3px
  color: black
  font-size: 2.4em
  line-height: 1.2em
.camera-link
  display: inline-block
  vertical-align: top
  margin-right: 20px
.icons-camera
  display: inline
