.poll-results
  padding-left: 0px

li.poll-choice
  list-style-type: none

  .poll-choice-bar
    width: 0%
    height: 10px
    background-color: $banner-color

  .choice-percentage
    font-size: 1em
