.up_vote
	color: black
	font-size: 9px
	font-family: serif
.down_vote
	color: black
	font-size: 9px
	font-family: serif

.up_vote.upvoted
	font-size: 11px
	color: #347C17

.down_vote.downvoted
	font-size: 11px
	color: #9F000F

.up_vote_number.upvoted
	font-weight: bold
.down_vote_number.downvoted
	font-weight: bold