.topic-container
	padding: 1.2em 1.5em

	.wrapper-div
		margin: 1.0em 0.0em 1.0em
		border: 2px solid #B8B8B8
		overflow-y: scroll
		height: 300px

	.subtitle
		font-size: 1.5em
		margin-top: -10px
		margin-bottom: 1.0px
		font-style: italic

	.response
		padding: 0.3em 0.3em
		border-bottom: 1px solid #D0D0D0
		position: relative

		.votes
			display: inline-block
			padding: 0.0em 0.5em
			border-right: 1px solid #D0D0D0
			.vote-button
				display: block

		.content
			padding: 0.0em 0.5em
			position: absolute
			top: 30%
			font-size: 1.1em
		.timestamp
			float: right
			font-style: italic
			color: grey

	.response-input
		width: 100%