.topic-container
  padding: 1.2em 1.5em

  ul.responses
    padding: 0
    margin: 0
    border: 2px solid #B8B8B8
    overflow-y: scroll
    height: 400px
    list-style: none

  li.topic-response
    border-bottom: 1px solid #B8B8B8
    padding: 5px 3px

  .wrapper-div
    margin: 1.0em 0.0em 1.0em
    border: 2px solid #B8B8B8
    overflow-y: scroll
    height: 400px

  .subtitle
    font-size: 1.5em
    margin-top: -10px
    margin-bottom: 1.0px
    font-style: italic

  .response
    padding: 0.3em 0.3em
    border-bottom: 1px solid #D0D0D0
    position: relative
