.topic-response
  .content
    margin: 0
    padding: 5px
    font-size: 1.2em

  ul.response-actions
    list-style: none
    padding: 0
    margin: 0
    font-family: sans-serif
    color: $caption-color

    li
      display: inline
      &:last-child:after
        content: none
        color: $dark-text
      &:after
        content: "\b7"
        color: $dark-text

    button
      cursor: pointer
      color: $caption-color
      background: none
      border: none
      padding: 0
      outline: none

    .upvote
      &:before
        content: "\25B2"
        color: $dark-text
    .downvote
      &:before
        content: "\25BC"
        color: $dark-text
    .voted
      .upvote
        &:before
          color: #239023
      .downvote
        &:before
          color: darkred
