.tournament-leaderboard
  font-size: 1.2em
  width: 100%
  .highlighted td
    font-weight: bold

  .user-row td
    border-bottom: 2px solid $chron-text

.featured-bracket
  font-size: 1.2em
  .title
    font-size: 1.2em
    margin-bottom: 0.3em
  .headshot
    +border-radius(4px)
    float: right

.challenge-text
  a
    @include text-underline($anchor-font-color, 1.1em)
