= form_for ArticleNewsletter.new, url: admin_newsletter_path, html: {class: 'form-horizontal'} do |f|
  %legend Newsletter
  .form-inputs
    .control-group
      %label.control-label{for: 'newsletter_article'} Article
      .controls
        %input.input-enabler{type: 'checkbox', data: {target: 'newsletter_article'}}
        = f.text_field :article, disabled: true, class: 'input-xlarge', class: 'input-xlarge article-picker'
    .control-group
      %label.control-label{for: 'newsletter_test_email'} Test email
      .controls
        %input.input-enabler{type: 'checkbox', data: {target: 'newsletter_test_email'}}
        = f.text_field :test_email, disabled: true, class: 'input-xlarge'
  .form-actions
    = f.submit 'Send', class: 'btn btn-large btn-primary'
