!!! 5
%html
  %head
    %meta{'http-equiv' => "Content-Type", content: "text/html; charset=UTF-8"}
    %title #{yield :title} | The Chronicle
    :css
      body {
        background-color: white;
        color: #444;
        margin: 0;
        padding: 36px;
        line-height: 18px;
        font-size: 16px;
        font-family: 'Times New Roman', serif;
      }
      .section {
        margin-bottom: 36px;
        color: #444;
      }
      .section h1 {
        color: white;
        font-size: 28px;
        background-color: #069;
        padding: 18px 22px 15px 22px;
        margin: 0;
        overflow: hidden;
      }
      .article {
        border: 4px solid #069;
        padding: 24px 18px 18px 18px;
        font-size: 16px;
      }
  %body
    .section
      %h1 The Chronicle
      .article= yield
